@media (max-width: 1440px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}


/* Large desktops and laptops */

@media (max-width: 1200px) {
    .top__title {
        font-size: 3rem;
        margin-bottom: 2rem;
    }
    .top__text {
        font-size: 1.2rem;
        margin-bottom: 3rem;
    }
    .top__contact {
        margin-top: 4rem;
        margin-bottom: 4rem;
    }
    .top__right {
        text-align: right;
    }
    .top__img {
        width: 90%;
        height: auto;
    }
    .about__text {
        font-size: 1rem;
        margin-bottom: 2.8rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .convenience__right {
        display: none;
    }
    .rate__inner {
        // flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    .rate__alt,
    .rate__team {
        margin-right: 0;
    }
    .rate__delete {
        margin-top: 3rem;
    }
}

@media (max-width: 1024px) {
    .rate__col {
        flex-basis: 50%;
    }
    .about__col {
        flex-basis: 50%;
    }
    .about,
    .opportunities,
    .convenience,
    .rate {
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .top__title {
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }
    .top__text {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }
    .top__contact {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 768px) {
    .update__social {
        text-align: center;
    }
    .about {
        background-color: #181F29;
        padding-top: .5rem;
        padding-bottom: 1.5rem;
    }
    .opportunities,
    .convenience,
    .rate {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .top__right {
        display: none;
    }
    .top__left {
        width: 100%;
        text-align: center;
    }
    .top__contact {
        justify-content: center;
        flex-wrap: wrap;
    }
    .title,
    .about__txt {
        text-align: center;
    }
    .opportunities__inner {
        max-width: 100%
    }
    .opportunities__logos {
        width: 100%;
        text-align: center;
    }
    .opportunities__logo:last-child {
        margin-right: 0;
    }
    .about__txt {
        margin-bottom: 2rem;
    }
    .convenience__left {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 650px) {
    .footer {
        &__left,
        &__middle,
        &__right {
            text-align: center;
        }
        &__right {
            margin-top: 1.5rem;
        }
    }
    .footer__col {
        flex-basis: 50%;
    }
    .about__img {
        margin-top: 1rem;
    }
    .about__text {
        margin-bottom: 1.8rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .about__title {
        font-size: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .rate__col {
        flex-basis: 70%;
    }
    .opportunities__logos {
        display: none;
    }
    .rate__item {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .rate__subtitle {
        margin-bottom: 0rem;
    }
    .rate__list {
        margin-left: 1rem;
        margin-right: 0;
    }
    .rate__list:last-child {
        margin-bottom: 0.8rem;
    }
}

@media (max-width: 480px) {
    .footer__col {
        flex-basis: 100%;
    }
    .footer__middle {
        margin-top: 1.5rem;
    }
    .footer__left {
        text-align: center;
    }
    .update__social {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .update__icon {
        margin-right: 0rem;
        width: 70%;
    }
    .rate__col,
    .about__col {
        flex-basis: 100%;
    }
    .rate__item {
        text-align: center;
    }
    .rate__list {
        list-style-type: none;
        margin-right: 1rem;
    }
    .top__contact {
        margin-top: 0;
        &--text {
            font-size: 0.8rem;
        }
    }
    .top {
        &__email,
        &__phone {
            margin-top: 1.2rem;
        }
    }
    .about__title {
        font-size: 1.4rem;
        margin-top: 0.7rem;
        margin-bottom: 1.2rem;
    }
    .about__text {
        margin-bottom: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 425px) {
    .top__title {
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }
    .top__text {
        font-size: 0.8rem;
        margin-bottom: 1.5rem;
    }
    .title {
        font-size: 2.2rem
    }
    .about__txt {
        font-size: 1rem;
    }
}

@media (max-width: 375px) {
    .rate__list {
        font-size: 0.9rem;
    }
    .rate__title {
        font-size: 1.5rem;
    }
    .about__text {
        font-size: 0.9rem;
    }
}